.distance-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  