.search-box-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.search-box button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}
