
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}


body {
  background-color: #a3499d;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#root {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}


button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}
